
<script>
  $.notify("<%= notice %>", "success");
</script>


<h1 ><%= "#{t('messages.listing')} #{@kinds.model.model_name.human(count: @kinds.count)}"%></h1>

<table class="table table-striped  table-hover">
  <thead>
    <tr>
      <th><%= @kinds.model.human_attribute_name("description") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.description %></td>
        <td><%= link_to t('buttons.edit'), edit_kind_path(kind), class: "btn btn-default" %></td>
        <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.new'), new_kind_path, class: "btn btn-primary"%>
<%= link_to t('buttons.home'), root_path, class: "btn btn-success" %>
